# Віртуальне середовище
venv/
ENV/
env/
.venv/
spark_env/

# Файли Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Системні
.DS_Store
Thumbs.db

# Файли IDE
.vscode/
.idea/

# CSV та інші великі дані (залишити, якщо data/ буде в LMS, інакше додати до репо)
# data/*.csv
